html, body {
    

}
html,
body {
    background-color: #edf2f4;
    color: #edf2f4;

}

.header {
    background-color: #2b2d42;
    height: 60px;
}
li {
    color: #e8eaee;
    width: 200px;
    margin-top: 1rem;
}

h3 {
    margin-bottom: 20px;
}

h4 {
    margin-left: 10%;
}

h5 {
    margin-left: 20%;
    color: #000033;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    padding-left: 4%;
    /*****testing**********/
    background: linear-gradient(to bottom, #552847, #8d99ae);
}

.sidebar button {
    border-color:transparent;
    background-color: rgba(141,153,174, .5);
    color: #e8eaee;
    margin-bottom: 20px;
}
.sidebar button:hover {
    border-color: transparent;
    background-color: #383d45;
    color: #e8eaee;
}

.room-list div{
    margin-top: 10px;
    font-size: 1.5rem;
    padding-left: 15px;
}

/**********Chat room *********/
.chat-room {
    width: 90%;
    float: right;
    color: black;
    padding-left: 30px;
}
.message-list ul{
}
.message-list li{
    list-style-type: none;
}
.message-list li p {
    margin-left: 20%;
    color: black;
}

/************Send message area*************/

.message-row {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20%;

}



/* Create Room Modal Window */
.modalstyles {
    border-radius: 5px;
    background-color: #e8eaee;
    color: #383d45;
    
}

.modalstyles input {
    width: 60%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.modalstyles input:focus {
    outline: none;
}
.cancel-btn {
    font-weight: bold;
}
.cancel-btn:hover {
    background-color: #707a8b;
}